/* <div class="form_wrap">
              <form class="search-box" action="" method="get">
                <input                  class="search-txt"
                  name=""
                  placeholder="введите слово или фразу"
                  type="search"                />
                <div class="search-btn_contain">
                  <button class="search-btn" type="submit"></button>
                </div>
              </form>
              <button
                class="burger-btn header-burger"
                onclick="openModal()"
                type="button"
              ></button>
            </div> */

/* css */
@media (max-width: 1360px) {
  .service-flex {
    gap: 20px;
    justify-content: space-between;
  }
  .select-big {
    margin-right: 6%;
  }

  h1 {
    font-size: 60px;
  }
  .menu-select-big {
    font-size: 24px;
  }
  .search-txt {
    font-size: 18px;
    width: 33vw;
    line-height: 60%;
  }
  .title-extra-large {
    font-size: 8.8vw;
    line-height: 87%;
  }
  .enroll-online-wrapper {
    position: relative;
    margin-left: 8%;
  }
  .enroll-online-btn {
    position: absolute;
    right: 4.2%;
    top: 0;
  }
  .footer-line {
    width: 100%;
    flex-grow: 1;
  }
}

@media (max-width: 1040px) {
  h1 {
    max-width: 370px;
  }

  .select-big::after {
    width: 100%;
  }
  .select-big {
    margin-right: 0;
  }
}
@media (max-width: 900px) {
  .enroll-online-wrapper {
    margin-left: 3%;
  }
  .title-extra-large {
    font-size: 7.5vw;
  }
}
@media (min-height: 768px) {
  
  .header {
    padding: 0;
    padding-top: 25px;
  }
  .menu-select-big {
    font-size: 18px;
    width: 105%;
  }
  .select-big::after {
    right: 0;
  }
  .services-title {
    max-width: 260px;
  }
  .burger-btn {
    display: block;
    margin-left: 2.5vw;
  }
  .navbar {
    margin-top: 23px;
  }
  .container {
    padding: 0 40px;
  }
  .service-flex {
    margin-top: 0;
  }
  .small-bg {
    height: 350px;
  }
  .logo {
    width: 209px;
    height: 44px;
  }
  .search-btn_contain-gallery {
    display: none;
  }
  .title-extra-large2 {
    margin-left: 14%;
  }
  .enroll-online-wrapper {
    margin-left: 0;
    margin-top: 70px;
    margin-bottom: 90px;
  }
}

@media (max-width: 567px) {
  .container {
    padding: 0 24px;
  }
  .menu-select-big {
    display: none;
  }
  .services-title {
    font-size: 40px;
  }
  .small-bg {
    height: 270px;
  }
}
@media (max-width: 375px) {
  .services-title {
    font-size: 32px;
    max-width: 140px;
    line-height: 114%;
  }
  .small-bg {
    height: 240px;
  }
}
/* ===================== */
/* галерея.  */
/* в хеад  */
/* откл */
